<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/projectModal.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <a href="/dashboard">
        <h2>Dashboard</h2>
      </a>
      <a href="/users/<%= user.id %>/projects"
        ><i class="fas fa-folder"></i> My Projects</a
      >
      <a href="/pending"><i class="fas fa-clock"></i> Pending</a>
      <!-- <a href="#"><i class="fas fa-tasks"></i> Assigned Projects</a> -->
      <a href="/requests"><i class="fas fa-envelope"></i> Requests</a>
      <!-- <a
        href="/<%= user.urlUserName %>/posts"
        id="postsLink"
        username="<%= user.fullName %>"
        ><i class="fas fa-comments"></i> My Posts</a
      > -->
      <a href="/portofolio" id="portfolio-link-media-768" class="portfolio-link"
        ><i class="fas fa-user"></i> Portofolio</a
      >
      <!-- <a href="/IdeaBank"><i class="fas fa-lightbulb"></i> Project Idea Bank</a> -->
      <a id="logout-link-media-768" class="logout-link" href="/auth/logout">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>

    <div class="main-content">
      <div class="navbar">
        <span class="toggle-btn" id="toggle-btn"
          ><i class="fas fa-bars"></i>
          <span class="dashboard-logo" id="dashboardLogo">Dashboard</span>
        </span>
        <div>
          <a
            id="portfolio-link-media-1200"
            href="/portfolio"
            class="portfolio-link"
            ><i class="fas fa-user"></i> Portofolio</a
          >
          <a class="logout-link" href="/auth/logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>

          <form
            id="logout-form"
            action="/auth/logout"
            method="POST"
            style="display: none"
          ></form>
        </div>
      </div>

      <!-- Content Section -->
      <div class="content">
        <h1 class="welcome-message">
          Welcome
          <span
            class="username"
            id="username"
            data-user="<%= JSON.stringify(user) %>"
          >
            <%= user.fullName %>

            <span class="heart">💚</span>
          </span>
        </h1>

        <p>Manage your projects and collaborations efficiently.</p>

        <div class="dashboard-section">
          <div class="dashboard-card">
            <i class="fas fa-plus-circle"></i>
            <h3>Create a Project</h3>
            <button id="create-project-btn">Create</button>
          </div>

          <div class="dashboard-card">
            <i class="fas fa-users"></i>
            <h3>Start Collaboration</h3>
            <button id="start-collaboration">Start</button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="modal" id="create-project-modal">
      <div class="modal-content">
        <div id="title-close-project">
          <h2>Create a Project</h2>
          <span id="close-project-modal">❌</span>
        </div>
        <hr id="title-close-project-hr" />
        <form id="project-form">
          <div class="form-group title-div">
            <label for="title">Project Title</label>
            <input
              type="text"
              name="title"
              id="title"
              placeholder="Enter your project title"
            />
            <!-- <a
              href="/ideasBank"
              id="chooseIdeaBankLink"
              style="font-size: smaller; color: rgb(198, 3, 198)"
              >Choose from Idea Bank</a
            > -->
          </div>

          <div class="form-group description-div">
            <label for="description">Project Description</label>
            <textarea
              id="description"
              name="description"
              placeholder="Describe your project"
              rows="2"
            ></textarea>
          </div>

          <div class="form-group lang-pref-div">
            <label for="lang-pref">Language Preference</label>
            <input
              id="lang-pref"
              type="text"
              name="lang-pref"
              placeholder="Your team speaking language"
            />
          </div>

          <div class="form-group your-role-div">
            <label for="your-role">Your Role</label>
            <input
              type="text"
              name="your-role"
              id="your-role"
              placeholder="your role in project"
            />
          </div>

          <div class="form-group">
            <label>Roles Needed</label>
            <div id="roles-container" class="role-input-div">
              <div class="role-input">
                <input
                  type="text"
                  name="role"
                  class="role-field"
                  placeholder="Enter role needed"
                />
                <input
                  type="number"
                  name="number-needed"
                  class="number-needed"
                  placeholder="Number needed"
                  min="1"
                />
                <button type="button" class="add-role-btn">+</button>
                <button type="button" class="remove-role-btn">-</button>
              </div>
            </div>
          </div>

          <div class="form-group repo-link-div">
            <label for="repo-link">Repo Link</label>
            <input
              type="url"
              name="repo"
              id="repo-link"
              placeholder="Prove you are serious by initiating your project repo and providing the link"
            />
          </div>

          <button type="submit" class="project-submit-btn">Submit</button>
        </form>
      </div>
    </div>

    <!-- form createion success Popup -->
    <div
      class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden"
      id="success-post-creation-feedback"
      style="opacity: 1; transition: opacity 0.5s"
    >
      <div
        class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full text-center"
      >
        <h2 class="text-xl font-semibold text-green-600">Success!</h2>
        <p class="mt-4 text-gray-700">
          Your project was created successfully. Wait for developers to apply.
        </p>
        <button
          id="close-success-popoup-btn"
          class="mt-6 bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded"
        >
          Close
        </button>
      </div>
    </div>

    <!-- github auth Popup -->
    <button
      id="github-auth-popup-btn"
      class="bg-blue-500 text-white p-2 rounded"
      style="display: none"
    ></button>

    <div
      id="github-auth-popup"
      class="fixed inset-0 flex justify-center items-center bg-gray-800 bg-opacity-50 hidden"
    >
      <div class="bg-white p-6 rounded-lg w-96">
        <h2 class="text-xl font-bold text-center mb-4">
          Authentication Required
        </h2>
        <p class="text-center mb-4">
          You should authenticate with GitHub first before creating or applying
          to a project.
        </p>

        <!-- GitHub Authentication Button -->
        <a
          href="/auth/github"
          class="bg-gray-800 text-white py-2 px-4 rounded text-center block w-full"
        >
          Authenticate with GitHub
        </a>
        <button
          id="close-github-auth-popup-btn"
          class="bg-red-500 text-white py-2 px-4 rounded mt-4 w-full"
        >
          Close
        </button>
      </div>
    </div>

    <div
      id="server-error-popup"
      class="hidden fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50"
    >
      <div
        class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full text-center"
      >
        <h2 class="text-xl font-semibold text-red-600">Server Error</h2>
        <p id="info-message-of-error" class="mt-4 text-gray-700">
          There was an issue with the server. Please try again later.
        </p>
        <button
          id="close-server-error-popoup"
          class="mt-6 bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded"
        >
          Close
        </button>
      </div>
    </div>
    <script src="/js/dashboard.js"></script>
  </body>
</html>
