<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <a href="/<%=user.urlUserName%>/dashboard">
        <h2 class="font-bold">Dashboard</h2>
      </a>
      <a href="/<%= user.urlUserName %>/all/projects"
        ><i class="fas fa-folder"></i> My Projects</a
      >
      <a href="/<%= user.urlUserName %>/pending"
        ><i class="fas fa-clock"></i> Pending</a
      >
      <!-- <a href="#"><i class="fas fa-tasks"></i> Assigned Projects</a> -->
      <a href="/<%= user.urlUserName %>/requests"
        ><i class="fas fa-envelope"></i> Requests</a
      >
      <!-- <a
        href="/<%= user.urlUserName %>/posts"
        id="postsLink"
        username="<%= user.fullName %>"
        ><i class="fas fa-comments"></i> My Posts</a
      > -->
      <a href="/<%= user.urlUserName %>/portofolio" id="profile-link-media-768"
        ><i class="fas fa-user"></i> Portofolio</a
      >
      <a href="/IdeaBank"><i class="fas fa-lightbulb"></i> Project Idea Bank</a>
      <a
        id="logout-link-media-768"
        href="#"
        onclick="document.getElementById('logoutForm').submit();"
      >
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Navbar -->
      <div class="navbar">
        <span class="toggle-btn" id="toggle-btn"
          ><i class="fas fa-bars"></i>
          <span class="dashboard-logo" id="dashboardLogo">Dashboard</span>
        </span>
        <div>
          <a href="/<%= user.urlUserName %>/portofolio" id="profile-link"
            ><i class="fas fa-user"></i> Portofolio</a
          >
          <a
            id="logout-link"
            href="#"
            onclick="document.getElementById('logoutForm').submit();"
          >
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>

          <form
            id="logoutForm"
            action="/auth/logout"
            method="POST"
            style="display: none"
          >
            <!-- Form data if needed -->
          </form>
        </div>
      </div>

      <div
        class="bg-gradient-to-r from-blue-50 to-indigo-100 min-h-screen py-8"
      >
        <div id="cardsContainer" class="container mx-auto px-4">
          <!--  -->
          <div
            id="cardsGrid"
            user="<%= JSON.stringify(user) %>"
            pending="<%= JSON.stringify(pending) %>"
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
          >
            <!-- no pedingRequest element -->
            <div id="noPendingRequests" class="mt-8 flex justify-center hidden">
              <div
                class="bg-white rounded-lg shadow p-6 w-11/12 max-w-md text-center"
              >
                <p class="text-lg font-medium text-gray-800">
                  you have no pending requests
                </p>
              </div>
            </div>
            <!--  -->
          </div>
          <!--  -->
        </div>
      </div>
    </div>
    <!-- confirm cancellation popup -->
    <div
      id="confirmCancelPopup"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
    >
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <p class="mb-4 text-gray-800">Are you sure you want to cancel?</p>
        <div class="flex justify-center space-x-4">
          <button
            id="confirmCancelButton"
            class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 focus:outline-none"
          >
            Cancel
          </button>
          <button
            id="closeConfirmCancelPopup"
            class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 focus:outline-none"
          >
            Close
          </button>
        </div>
      </div>
    </div>

    <!-- serverErrorPopup -->
    <div
      id="serverErrorPopup"
      class="hidden fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50"
    >
      <div
        class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full text-center"
      >
        <h2 class="text-xl font-semibold text-red-600">Server Error</h2>
        <p class="mt-4 text-gray-700">
          There was an issue with the server. or user has already accepted or
          reject your reqeust.
        </p>
        <button
          onclick="closeErrorPopup()"
          class="mt-6 bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded"
        >
          Close
        </button>
      </div>
    </div>

    <!-- <script src="/js/dashboard.js"></script> -->
    <script src="/js/pending.js"></script>
  </body>
</html>
