<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }

      #requests-container {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        gap: 20px;
        padding: 20px;
        /* height: 100vh; */
      }

      .card {
        height: fit-content;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        padding: 20px;
      }

      .card-header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }

      .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ddd;
        margin-right: 15px;
      }

      .user-info {
        display: flex;
        flex-direction: column;
      }

      .username {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
      }

      .date {
        font-size: 0.9rem;
        color: #777;
      }

      .card-content {
        margin-bottom: 15px;
        font-size: 1rem;
        color: #555;
      }

      .card-footer {
        display: flex;
        justify-content: space-between;
      }

      .button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        color: #fff;
        transition: background-color 0.3s ease;
      }

      .accept {
        background-color: #28a745;
      }

      .accept:hover {
        background-color: #218838;
      }

      .reject {
        background-color: #dc3545;
      }

      .reject:hover {
        background-color: #c82333;
      }

      @media (min-width: 768px) {
        .card {
          flex: 0 1 calc(50% - 20px);
        }
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/2157171c32.js"
      crossorigin="anonymous"
    ></script>
    <style>
      #email:hover {
        color: rgb(168, 0, 0);
      }
    </style>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "rgb(34 197 94 / var(--tw-bg-opacity, 1))",
              background: "#f3f4f6",
              textDark: "#1f2937",
            },
            animation: {
              fadeIn: "fadeIn 2s ease-in-out",
            },
            keyframes: {
              fadeIn: {
                "0%": { opacity: 0 },
                "100%": { opacity: 1 },
              },
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <!-- Sidebar -->

    <div class="sidebar" id="sidebar">
      <a href="/<%=user.urlUserName%>/dashboard">
        <h2 class="font-bold">Dashboard</h2>
      </a>
      <a href="/<%= user.urlUserName %>/all/projects"
        ><i class="fas fa-folder"></i> My Projects</a
      >
      <a href="/<%= user.urlUserName %>/pending"
        ><i class="fas fa-clock"></i> Pending</a
      >
      <!-- <a href="#"><i class="fas fa-tasks"></i> Assigned Projects</a> -->
      <a href="/<%= user.urlUserName %>/requests"
        ><i class="fas fa-envelope"></i> Requests</a
      >
      <!-- <a
        href="/<%= user.urlUserName %>/posts"
        id="postsLink"
        username="<%= user.fullName %>"
        ><i class="fas fa-comments"></i> My Posts</a
      > -->
      <a href="/<%= user.urlUserName %>/portofolio" id="profile-link-media-768"
        ><i class="fas fa-user"></i> Portofolio</a
      >
      <a href="/IdeaBank"><i class="fas fa-lightbulb"></i> Project Idea Bank</a>
      <a
        id="logout-link-media-768"
        href="#"
        onclick="document.getElementById('logoutForm').submit();"
      >
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Navbar -->
      <div class="navbar">
        <span class="toggle-btn" id="toggle-btn"
          ><i class="fas fa-bars"></i>
          <span class="dashboard-logo" id="dashboardLogo">Dashboard</span>
        </span>
        <div>
          <a href="/<%= user.urlUserName %>/portofolio" id="profile-link"
            ><i class="fas fa-user"></i> Portofolio</a
          >
          <a
            id="logout-link"
            href="#"
            onclick="document.getElementById('logoutForm').submit();"
          >
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>

          <form
            id="logoutForm"
            action="/auth/logout"
            method="POST"
            style="display: none"
          >
            <!-- Form data if needed -->
          </form>
        </div>
      </div>

      <div
        id="requests-container"
        class="flex bg-gradient-to-r flex-wrap from-blue-50 to-indigo-100 flex min-h-screen p-8"
        requests="<%= JSON.stringify(requests) %>"
        user="<%= JSON.stringify(user) %>"
      >
        <!-- userPortfolioPopUp -->
        <div
          id="user-portfolio"
          class="hidden fixed flex flex-wrap items-center justify-center bg-green bg-opacity-800"
          style="
            transition: 1s;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            z-index: 1200;
            overflow-y: scroll;
            background: white;
            position: relative;
            height: 90vh;
          "
        >
          <button
            id="closeUserPortfolioPopup"
            class="absolute top-4 right-4 px-3 py-1 bg-black text-white rounded-md shadow-lg hover:bg-green-700 transition"
          >
            close
          </button>
          <section
            class="flex flex-col md:flex-row items-center justify-center text-center md:text-left p-10 gap-10 animate-fadeIn relative mt-10"
          >
            <img
              id="portfolio-image"
              src="https://media.istockphoto.com/id/1332100919/vector/man-icon-black-icon-person-symbol.jpg?s=612x612&w=0&k=20&c=AVVJkvxQQCuBhawHrUhDRTCeNQ3Jgt0K1tXjJsFy1eg="
              alt="User Image"
              class="w-60 h-60 rounded-full border-4 border-primary shadow-lg"
            />
            <div>
              <h1 class="text-5xl font-bold">
                Hi, I'm
                <span id="portfolio-name" class="text-primary">Your Name</span>
              </h1>
              <p id="portfolio-tagline" class="text-xl mt-4"></p>
              <p id="portfolio-about" class="mt-4 max-w-lg"></p>
              <div class="flex gap-4 mt-6">
                <a
                  href="#projects"
                  class="px-6 py-3 bg-primary rounded-full shadow-lg hover:bg-green-700 transition"
                  >My Projects</a
                >
                <a
                  href="#contact"
                  class="px-6 py-3 border border-primary rounded-full shadow-lg hover:bg-primary transition"
                  >Contact</a
                >
              </div>
            </div>
          </section>

          <section
            style="width: 90%"
            class="py-20 bg-white text-center animate-fadeIn relative"
          >
            <h2 class="text-4xl font-bold">Education</h2>
            <div
              id="education-container"
              class="grid md:grid-cols-4 gap-6 mt-6 max-w-6xl mx-auto"
            >
              <p id="noEducationCardsToRender" class="mt-4 max-w-lg hidden">
                edit from top right corner button
              </p>
            </div>
          </section>

          <section
            style="width: 90%"
            id="projects"
            class="py-20 text-center animate-fadeIn relative"
          >
            <h2 class="text-4xl font-bold">Projects</h2>
            <div
              id="projects-container"
              class="grid md:grid-cols-3 gap-6 mt-6 max-w-6xl mx-auto"
            >
              <p id="noProjectCardsToRender" class="mt-4 max-w-lg hidden">
                edit from top right corner button
              </p>
            </div>
          </section>

          <section
            id="skills"
            class="py-20 text-center animate-fadeIn relative bg-white"
            style="width: 90%"
          >
            <h2 class="text-4xl font-bold">Skills</h2>
            <div
              id="skills-container"
              class="grid md:grid-cols-3 gap-6 mt-6 max-w-6xl mx-auto"
            >
              <p id="noSkillCardsToRender" class="mt-4 max-w-lg hidden">
                edit from top right corner button
              </p>
            </div>
          </section>
          <!-- Contact Section -->
          <section
            id="contact"
            class="py-20 bg-white text-center animate-fadeIn relative"
            style="width: 90%"
          >
            <h2 class="text-4xl font-bold">Contact Me</h2>

            <!-- Social Media Links Section -->
            <div class="mt-8">
              <div
                id="links-container"
                class="flex justify-center space-x-6 mt-4"
              >
                <!-- if user has no contact info this element will render -->
                <p id="noContactInfoToRender" class="mt-4 max-w-lg hidden">
                  edit from top right corner button to add your contact info
                </p>

                <a
                  id="instagram"
                  href="https://instagram.com/yourusername"
                  target="_blank"
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="instagrma-icon" class="fab fa-instagram"></i>
                </a>

                <a
                  id="facebook"
                  href="https://facebook.com/yourusername"
                  target="_blank"
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="facebook-icon" class="fab fa-facebook"></i>
                </a>

                <a
                  id="linkedIn"
                  href="https://linkedin.com/in/yourusername"
                  target="_blank"
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="linkedin-icon" class="fab fa-linkedin"></i>
                </a>

                <a
                  id="github"
                  href="https://github.com/yourusername"
                  target="_blank"
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="github-icon" class="fab fa-github"></i>
                </a>

                <a
                  id="youtube"
                  href="https://youtube.com/c/yourchannel"
                  target="_blank"
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="youtube-icon" class="fab fa-youtube"></i>
                </a>

                <a
                  id="website"
                  href="https://yourwebsite.com"
                  target="_blank"
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="website-icon" class="fas fa-globe"></i>
                </a>

                <a
                  id="number"
                  href=""
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="phone-icon" class="fas fa-phone"></i>
                </a>

                <a
                  id="email"
                  href=""
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="mail-icon" class="fas fa-envelope"></i>
                </a>

                <a
                  id="twitter"
                  href=""
                  class="text-gray-600 hover:text-primary text-2xl hidden"
                >
                  <i id="twitter-icon" class="fab fa-twitter"></i>
                </a>
              </div>
            </div>
          </section>
        </div>
        <!-- No Requests Message -->
        <div id="noRequests" class="mt-8 flex justify-center hidden">
          <div
            class="bg-white rounded-lg shadow p-6 text-center"
            style="height: fit-content"
          >
            <p class="text-lg font-medium text-gray-800">
              You have no requests yet. Wait for developers to apply to your
              projects.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- serverErrorPopup -->
    <div
      id="serverErrorPopup"
      class="hidden fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50"
    >
      <div
        class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full text-center"
      >
        <h2 class="text-xl font-semibold text-red-600">Server Error</h2>
        <p class="mt-4 text-gray-700">
          There was an issue with the server. or user has cancelled the reqeust.
        </p>
        <button
          onclick="closeErrorPopup()"
          class="mt-6 bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded"
        >
          Close
        </button>
      </div>
    </div>

    <!-- accept success Popup Container -->
    <div
      id="acceptSuccessPopup"
      class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50 hidden"
    >
      <div class="bg-white rounded-lg shadow-lg p-6 w-11/12 max-w-md">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">
          Accept Successful
        </h2>
        <p class="text-gray-700 mb-6">
          Now <span class="font-bold">'username'</span> is your teammate as
          <span class="font-bold">'somePosition'</span> developer in your
          <span class="font-bold">'projectname'</span> project. A collaboration
          request has been sent to him successfully to the repo, and now you can
          find him in your projects page.
        </p>
        <div class="flex justify-end gap-4">
          <button
            id="closeAcceptSuccessPopup"
            class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded text-gray-800"
          >
            Close
          </button>
        </div>
      </div>
    </div>

    <!-- confirm reject popup -->
    <div
      id="confirmRejectPopup"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
    >
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <p class="mb-4 text-gray-800">Are you sure you want to reject?</p>
        <div class="flex justify-center space-x-4">
          <button
            id="confirmRejectButton"
            class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 focus:outline-none"
          >
            reject
          </button>
          <button
            id="closeConfirmRejectPopup"
            class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 focus:outline-none"
          >
            Close
          </button>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- <script src="/js/dashboard.js"></script> -->
    <script src="/js/requests.js"></script>
  </body>
</html>
