<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Sidebar -->

    <div class="sidebar" id="sidebar">
      <a href="/<%=user.urlUserName%>/dashboard">
        <h2 class="font-bold">Dashboard</h2>
      </a>
      <a href="/<%= user.urlUserName %>/all/projects"
        ><i class="fas fa-folder"></i> My Projects</a
      >
      <a href="/<%= user.urlUserName %>/pending"
        ><i class="fas fa-clock"></i> Pending</a
      >
      <!-- <a href="#"><i class="fas fa-tasks"></i> Assigned Projects</a> -->
      <a href="/<%= user.urlUserName %>/requests"
        ><i class="fas fa-envelope"></i> Requests</a
      >
      <a
        href="/<%= user.urlUserName %>/posts"
        id="postsLink"
        username="<%= user.fullName %>"
        ><i class="fas fa-comments"></i> My Posts</a
      >
      <a href="/<%= user.urlUserName %>/portofolio" id="profile-link-media-768"
        ><i class="fas fa-user"></i> Portofolio</a
      >
      <a href="/IdeaBank"><i class="fas fa-lightbulb"></i> Project Idea Bank</a>
      <a
        id="logout-link-media-768"
        href="#"
        onclick="document.getElementById('logoutForm').submit();"
      >
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Navbar -->
      <div class="navbar">
        <span class="toggle-btn" id="toggle-btn"
          ><i class="fas fa-bars"></i>
          <span class="dashboard-logo" id="dashboardLogo">Dashboard</span>
        </span>
        <div>
          <a href="/<%= user.urlUserName %>/portofolio" id="profile-link"
            ><i class="fas fa-user"></i> Portofolio</a
          >
          <a
            id="logout-link"
            href="#"
            onclick="document.getElementById('logoutForm').submit();"
          >
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>

          <form
            id="logoutForm"
            action="/auth/logout"
            method="POST"
            style="display: none"
          >
            <!-- Form data if needed -->
          </form>
        </div>
      </div>
      <!-- content -->
      <div
        id="userProjectsContainer"
        user="<%= JSON.stringify(user) %>"
        class="flex bg-gradient-to-r flex-wrap from-blue-50 to-indigo-100 flex min-h-screen p-8"
        style="flex-wrap: wrap"
      ></div>
    </div>
    <script src="/js/userProjects.js"></script>
    <!-- <script src="/js/dashboard.js"></script> -->
  </body>
</html>
